PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="hackerrank_super_secret_local_key_2026"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_REDIRECT_URI="http://localhost:3000/api/auth/discord/callback"
